.pulse:hover,
.pulse:focus {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
  box-shadow: 0 0 0 1em rgba(255, 255, 255, 0);
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}


.pulse {
  --color: #d6d6d6;
  --hover: #ecd99c;
}



button {
  color: var(--color);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

button:hover, button:focus {
  border-color: var(--hover);
  color: #fff;
}



button {
  background: none;
  border: 2px solid;
  border-radius: 15%;
  font: inherit;
  line-height: 1;
  margin: 0.05em;
  padding: 0.05em 0.07em;
}