/*footer*/




.piePagina img{
  width: 35px;
  position: center;
}
.titulo{
  font-size: 30px;
}

 footer{
  text-align: center;
  margin-top: 35px;
  background-color: #d9ed92;
  border-radius:  $border-radius;
} 

 .whatsaap a img{
  width: 50px;
  position: fixed;
  bottom: 37px;
  right: 70px;
}