.piePagina img{
  width: 35px;
  position: center;
}
.titulo{
  font-size: 2rem;
}

 footer{
  text-align: center;
  margin-top: 2rem;
  background-color: #d9ed92;
  border-radius:  $border-radius;
} 

 .whatsaap a img{
  width: 50px;
  position: fixed;
  bottom: 3rem;
  right: 6rem;
}