*{
    margin: 0;
    padding: 0;
}

body{
  font-family:'KoHo', sans-serif;
	background: #fff1e6;
	margin-top:   0rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
    margin-left: 4rem;
}


p {
  font-family: 'KoHo', sans-serif;
  color: #344e41;
  text-align: center;
  letter-spacing: 2px;
  line-height: 140%;
  padding:  5px;
  font-size: 1.3rem;
}

.textoResaltado{
    text-align: center;
    color: #474d49;
    font-family: 'Berkshire Swash';
    font-size: 1.5rem;
}


.modal-content {
   background-color: #fff1e6;
}

img{
  border-radius: $border-radius;
  width: 300px;
} 


.separadorDeSeccion{
  border-top: .3rem solid #cdb4db;
  margin-bottom: 2rem;
  margin-top: 2rem;
}



