#header{
  @include header;
}

header img{
  width: 130px;
}

#header ul{
  font-size: 2rem;

}

.bg-light{
  background-color: #fff1e6 !important;
  opacity: 0.95;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.2rem
}




