




/*Index*/
.imageHero img{
  background-size: cover;
  background-position: center;
  width: 100%;
}


.presentacion{
  @import "titulos";
    .parrafo1{
      @import"textos";
    }
}

.secciones{
  @import"secciones";
}

.quienSoy{
  @import"titulos";
}
.profe{
  display: flex;
  flex-direction: row-reverse;
  justify-content:  space-around;
  flex-wrap: wrap;

    .parrafo2{
      /*display: flex;
      align-items: center;
      flex-wrap: wrap;*/
    	font-family: 'KoHo', sans-serif;
      color: #344e41;
      letter-spacing: 2px;
      line-height: 140%;
        .quienSoyResaltado{
        font-family: 'KoHo';
        font-size: 25px;
        color: black;
      }
    }
}

.banner{
  background-color: white;
  opacity: 0.8;
    .parrafo1{
      @import"textos";
    }
}



/* Quien Soy*/

.imgQ{
  display:  flex;
  justify-content:  space-around;
  flex-direction: row;
  flex-wrap: wrap;

}

.imgQ img{
  @include sizes(500px);
  padding: 15px;
  }

/*Galeria*/

.galeriaImag{
  @import"titulos";
    .galeria {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      flex-wrap: wrap;
        .prueba:hover{
          @include transformar (scale(1.125, 1.125));
          transition: 0.75s;
                   }
    }
}
.galeria img{
  margin: 15px;
}

/*Talleres*/

.flexGrid{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexGrid img{
  width: 800px;
  margin-bottom: 35px;
}


#inscripcion{
  display: flex;
  width:  100%;
  align-content:  center;
  justify-content:  center;
}


/*Contacto*/


.contacto{
  @import"contacto";
}
.datosContacto{
  @import"titulos";
  @import"buttons";
}


.container1{
  @import"titulos";
}
  .btn-primary {
    color: #fff;
    background-color: #cdb4db;
    border-color: var(--hover);
}
