@mixin sizes($width) {
   width: $width;
}


@mixin header{
   width: 100%;
   top: 0px;
   z-index: 100;
   border-radius:  $border-radius;
   position: sticky;
}


@mixin transformar($propiedad) {
  -webkit-transform: $propiedad;
  -ms-transform: $propiedad;
  transform: $propiedad;
}