h1{
	text-align: center;
	color: black;
	font-family: 'Berkshire Swash';
  font-size: 3rem;
	margin: 1rem;
}



h2{
	text-align: center;
	color: black;
	font-family: 'Berkshire Swash';
  	font-size: 2rem;
	margin: 1rem;
	
}

@media all and (max-width:  1024px){
  body{
  margin-top: 0rem;
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
  }
  p{
  text-align: justify;
  letter-spacing: 2px;
  line-height: 150%;
  padding:  0.8rem;
  font-size: 1rem;
  margin: 1rem;
  }

h1{
  text-align: center;
  color: black;
  font-family: 'Berkshire Swash';
  font-size: 2rem;
  margin: 1em;
}

  h2{
    font-size: 1.2rem;
  }

  .titulo {
    font-size: 1.3rem;
  }
  .cuatro{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}

.container {
  width: 50%;
  position: relative;
  margin: 1rem;
  }

.overlay{
  display: none;
}

.flexG{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexG img{
  width: 100%;
  }

.imgQ img {
    width: 100%;
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
}

 .whatsaap a img {
    width: 35px;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }

.carousel-inner {
    width: 100%;

} 

}


@media all and (max-width:  576px){
  body{
  margin-top: 0rem;
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}
  p{
  text-align: justify;
  letter-spacing: 2px;
  line-height: 120%;
  padding:  0.3rem;
  font-size: 1.1rem;
  margin: 0.3rem;
  }
  h2{
    font-size: 1.3rem;
  }
  h3{
    font-size: 1.5rem;
  }
  .cuatro{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}

.container {
  width: 75%;
  position: relative;
  margin: 1em;
  }

.overlay{
  display: none;
}

.titulo {
    font-size: 1.3rem;
  }

.flexG{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexG img{
  width: 100%;
  }

.imgQ img {
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
}  

.whatsaap a img {
    width: 35px;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }

.carousel-inner {
    width: 100%;

} 

}
