h1{
	text-align: center;
	color: black;
	font-family: 'Berkshire Swash';
  	font-size: 50px;
	margin: 15px;
}



h2{
	text-align: center;
	color: black;
	font-family: 'Berkshire Swash';
  	font-size: 35px;
	margin: 15px;
	
}